<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>

  </head>
  <body>

    <h1>BURGERS!</h1>
    <br>
    <h3>Try one of our delicious burgers or create your own gourmet sandwich. If you choose to eat off of our menu, please press the "Devour" button next to your choice. If you desire to create your own burger, please type your order into the box and press the "MAKE MY BURGER!" button. You will have the option to recreate your devoured burger or delete it permenantly from the menu.</h3>
    <div class="clearfix">
      {{{body}}}
    </div>
    <form>
      <input id="burger" type="text" name="newBurger"></input>
      <button id="createBurger" type="submit"><h2>&uarr;MAKE MY BURGER!&uarr;</h2></button>
    </form>
    <script src="/assets/js/util.js"></script>	
  </body>
</html>