<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>

  </head>
  <body>

    <h1>Build Yo' Burger!</h1>
    <div class="clearfix">
      {{{body}}}
    </div>
    <form>
      <input id="burger" type="text" name="newBurger"  placeholder="Name that burger!"></input>
      <button id="createBurger" type="submit">Make that burger!</button>
    </form>
    <script src="/assets/js/util.js"></script>	
  </body>
</html>